%h1 Listing posts

%table.zebra-striped
  %tr
    %th Title
    %th Description
    - if user_signed_in?
      %th

  - @posts.each do |post|
    %tr
      %td= link_to post.title, post
      %td= post.description
      - if user_signed_in?
        %td= link_to 'Edit', edit_post_path(post)

%br

= link_to 'New Post', new_post_path if user_signed_in?
