!!!
%html
  %head
    %title
      Blog
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          .brand
            Robert Rivas
          %ul.nav
            %li.active
              %a{ href: '/home' }
                Home
            %li
              %a{ href: '/projects' }
                Projects
            %li
              %a{ href: '/about' }
                About
            %li
              %a{ href: '/contact' }
                Contact
          %form.pull-right
            %input.input-small{ type: 'text', name: 'username', placeholder: 'Username' }
            %input.input-small{ type: 'password', name: 'password', placeholder: 'Password' }
            %button.btn{ type: 'submit' }
              Sign in

    .container
      .content
        .page-header
          %h1
            Sanity Check
            %small be proud of what you've done
        .row
          .span10
            = yield
          .span4
            Second Column
